$animation-width: 3.5rem;
$animation-color: #19ac4f;
$border-radius: 1.75rem;

.button {
  padding: 1rem $animation-width 1rem 1.5rem;
  position: relative;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.5rem;
  overflow: hidden;
  isolation: isolate;
  position: relative;

  span {
    display: grid;
    place-content: center;
    height: $animation-width;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;

    opacity: 0;
    transform: translateX(-0.75rem);
    transition: transform 0.4s linear, opacity 0.35s linear;
    transition-delay: 0.4s;
  }

  &:hover span {
    transform: translateX(0);
    opacity: 1;
  }

  &::before {
    content: '';
    top: 0;
    bottom: 0;
    right: calc(100% - $animation-width);
    width: $animation-width;
    background-color: $animation-color;
    position: absolute;
    border-radius: $border-radius;
    z-index: -1;
    transition: right 0.35s linear, width 0.35s linear 0.5s;
  }

  &:hover::before {
    width: calc(100%);
    right: 0;
  }
}
